/*****************
* CUSTOM CLASSES *
*****************/

.strong {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align:center;
}
.disclaimer {
  font-size: 1.25em;
}
.no-style-link {
  text-decoration:none;
}
.no-padding {
  padding: 0;
}
